@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 4px;
}

.logo img{
    width: 55px;

}

.right {
    width: 75vw;
    margin: 9px 0px;
}

.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    font-weight: bold;
}


.bg-black {
    background-color: black;
    color: white;
}

.heading{
    width: 177px;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    font-weight: bold;
    
}

.heading img{
    width: 15px;
}

.heading h2{
    font-size: 15px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 5px;
    gap: 13px;
    position: absolute;
    bottom: 49px;
    box-sizing: border-box;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(59, 56, 56);
}

.header > *{
    padding: 12px;
}

.spotifyplaylist{
    padding: 20px;
    font-size: 10px;
    
}

.spotifyplaylist h1{
    font-weight: 600;
}

.card img{
    border-radius: 65px;
    
    object-fit: contain;
    height: 120px
}

.card > *{
    font-weight: 400;
    padding-top: 8px;
    
}

.card-container{
    padding-top: 10px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    /* max-width: 80vh; */
    overflow-y: scroll;
    max-height: 70vh;
}

.spotifyplaylist .card{
    padding: 5px;
    background-color: #1b1b1b;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    top: 200px;
    left: 364px;
}

.button * >{
    padding: 3px;
    margin: 0px 12px;
    font-family: ;
}
.signupbtn{
   background-color: rgb(59, 56, 56);
   color: #b3b3b3;
   border: none;
   font-weight: bold;
   font-size: 10px;
   cursor: pointer;
}

.signupbtn:hover{
    color: white;
    font-size: 0.67rem;
}

.loginbtn{
    background-color: #ffffff;
    border: none;
    padding: 10px 21px;
    border-radius: 18px;
    font-weight: 600;
    font-size: 9px;
}

.loginbtn:hover{
    font-size: 0.6rem;
}